{% extends 'base.html' %}
{% block content %}

<div class="container-fluid register-form-container ">


<div class="row">
<div class="col-3"> 

    {% include 'sidebar.html' %}
</div>

<div class="col-9 ">


  <div class="addcategory-form py-5 px-5 ">
 <h1 class="text-center">Edit produkt</h1>

 <div class="addcategory-form-div w-75 py-5 mx-auto">
    <form  id="edit-product-form" action="" method="POST" enctype="multipart/form-data" class="form-inline">

        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="hidden" name="value_id_for_jquery" value="{{product.id}}">

        <div class="row">
            <div class="col-2 d-flex align-items-center">
        <label for="product" class="form-label">Název:</label>
        </div>
        <div class="col-9">
        <input id="product-name-input" type="text" name="product" class="form-control" placeholder="Název produktu" value="{{product.product}}">
        <div class="product-name-text text-start" id="product-name-text-id"><small class=" productname-used"></small></div>
        </div>
        <div class="col-1 d-flex align-items-center check-product-name"><i class="fa-sharp fa-solid fa-circle-check fa-xl"></i></div>
        </div>

        <br>

        <div class="row">
        <div class="col-2 d-flex align-items-center">
        <label for="price" class="form-label">Cena:</label>
            </div>
            <div class="col-3">
        <input id="product-price-input" type="text" name="price" class="form-control" placeholder="Cena" oninput="onlyNumber(this)" value="{{product.price|int}}">
    </div>
    <div class="col-1 d-flex align-items-center check-product-price"><i class="fa-sharp fa-solid fa-circle-check fa-xl"></i></div>
        <div class="col-2 d-flex align-items-center">
        <label for="discount" class="form-label">Sleva:</label>
        </div>
        <div class="col-3">
        <input id="product-discount-input" type="text" name="discount" class="form-control" placeholder="Sleva(nepoviné)" pattern="[0-9]*" max="100" oninput="maxDiscountValue(this)" value="{{product.discount}}">
    </div>
        <div class="col-1 d-flex align-items-center check-discount-input">
            <i class="fa-sharp fa-solid fa-circle-check fa-xl"></i>
        </div>
        </div>

        <br>


        <div class="row">
            <div class="col-2 d-flex align-items-center">
        <label for="stock" class="form-label">Na skladě:</label>
    </div>
    <div class="col-3">
        <input type="text" id="product-stock-input" name="stock" class="form-control" oninput="onlyNumber(this)" placeholder="Počet kusů" value="{{product.stock}}">
    </div>
    <div class="col-1 d-flex align-items-center product-stock-check"><i class="fa-sharp fa-solid fa-circle-check fa-xl"></i></div>

    <div class="col-2 d-flex align-items-center">
        <label for="size" class="form-label">Velikost:</label>
    </div>
    <div class="col-3">
        <input id="product-size-input" placeholder="Velikost" type="text" name="size" class="form-control" value="{{product.discount}}">
    </div>
    <div class="col-1 d-flex align-items-center product-size-check">
        <i class="fa-sharp fa-solid fa-circle-check fa-xl"></i>
    </div>
       
    </div>

    <br>

<div class="row">
        <div class="col-2 d-flex align-items-center">
        <label for="brand">Značka:</label>
    </div>
        <div class="col-3">
        <select name="brand" id="brand" class="form-control" required>
          {% for brand in brands %}
          <option value="{{ brand.id }}">{{ brand.brand }}</option>
          {% endfor %}
        </select>
    </div>
    <div class="col-1 d-flex align-items-center product-brand-check">
        <i class="fa-sharp fa-solid fa-circle-check fa-xl"></i>
    </div>

        <div class="col-2 d-flex align-items-center">
        <label for="category">Kategorie:</label>
    </div>

    <div class="col-3">
        <select name="category" id="category" class="form-control" required>
            {% for category in categories %}
            <option value="{{ category.id }}">{{ category.category }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-1 d-flex align-items-center product-category-check">
        <i class="fa-sharp fa-solid fa-circle-check fa-xl"></i>
    </div>


</div>

<br>

<div class="row"> 
<div class="col-2 d-flex align-items-center">
        <label for="color">Barva:</label>
    </div>

    <div class="col-9">
        <select name="color" id="color" class="form-control" required>
            {% for color in colors %}
            <option value="{{ color.id }}">{{ color.color }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="col-1 d-flex align-items-center product-color-check">
        <i class="fa-sharp fa-solid fa-circle-check fa-xl"></i>
    </div>

    </div>






<br>

<div class="row">

<div class="col-2 d-flex align-items-center">
    <label for="category">Popis:</label>
</div>

<div class="col-9">
<textarea name="description" id="product-description-input" rows="5" class="form-control" placeholder="Popis produktu" >{{product.description}}</textarea>
<div class="product-description-text text-start" id="product-description-text"><small class=" productname-used"></small></div>
</div>

<div class="col-1 d-flex align-items-center product-description-check">
    <i class="fa-sharp fa-solid fa-circle-check fa-xl"></i>
</div>
</div>






            <br>
        <input type="submit" value="Upravit" class="btn btn-info tm-2">
    
      </form>
</div>



</div>



</div>





<div class="d-flex justify-content-center product-name-edit" ><h1> {{product.product}}</h1> </div>
<br> <br> <br>
<div class="d-flex justify-content-center px-5 product-description-edit"><p>{{product.description}}</p></div>







<div id="products-list">

    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Cena</th>
          <th scope="col">Kategorie</th>
          <th scope="col">Značka</th>
          <th scope="col">Barva</th>
          <th scope="col">Zásoby(ks)</th>
          <th scope="col">Sleva</th>
          <th scope="col">Datum vytvoření</th>
          <th scope="col">Editováno</th>
          <th scope="col">Datum editace</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">{{ product.id }}</th>
          <td class="edited-product-price">{{ product.price }}</td>
          <td class="edited-product-category">{{ product.category.category }}</td>
          <td class="edited-product-brand">{{ product.brand.brand}}</td>
          <td class="edited-product-color">{{ product.color.color }}</td>
          <td class="edited-product-stock">{{ product.stock }}</td>
          {% if product.discount == "" %}
          <td class="edited-product-discount">0 %</td>
          {% else %}
          <td class="edited-product-discount">{{ product.discount }}</td>
          {% endif %}
          <td class="edited-product-pub_date">{{ product.pub_date.strftime('%H:%M, %d %b, %Y')  }}</td>
          <td class="edited-product-edited">
            {% if product.edited == True %}
            <p>Ano</p>
            {% else %}
            <p>NE</p>
            {% endif %}
          </td>

          <td class="edited-product-time-edited">
            {% if product.date_edited == None%}
            <p>Needitováno</p>
            {% else %}
            <p>{{ product.date_edited.strftime('%H:%M, %d %b, %Y') }}</p>
            {% endif %}
          </td>


        </tr>
      </tbody>
    </table>
  
  </div>





</div>




</div>
{% endblock content %}